@font-face {
  font-family: "iconfont"; /* Project id 3482135 */
  src: url('iconfont.woff2?t=1720342627932') format('woff2'),
       url('iconfont.woff?t=1720342627932') format('woff'),
       url('iconfont.ttf?t=1720342627932') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow-left2:before {
  content: "\e664";
}

.icon-icon-arrow-right2:before {
  content: "\e667";
}

.icon-fuzhi:before {
  content: "\e628";
}

.icon-yingyong:before {
  content: "\e626";
}

.icon-yingyongzhongxin:before {
  content: "\e627";
}

.icon-yingyongchengxu:before {
  content: "\e8a1";
}

.icon-d:before {
  content: "\e635";
}

.icon-a-25D-weixuan:before {
  content: "\e625";
}

.icon-qipao:before {
  content: "\e61b";
}

.icon-kaishi2:before {
  content: "\e800";
}

.icon-kaishi3:before {
  content: "\e68b";
}

.icon-xiangshang4:before {
  content: "\e795";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-yinlemusic215:before {
  content: "\e61c";
}

.icon-yinle4:before {
  content: "\e731";
}

.icon-suijisenlin:before {
  content: "\e61d";
}

.icon-yinle5:before {
  content: "\e61e";
}

.icon-kaishi:before {
  content: "\e623";
}

.icon-shengyin:before {
  content: "\e8b8";
}

.icon-xiayige:before {
  content: "\e63c";
}

.icon-kaishi1:before {
  content: "\e624";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-shunxubofang:before {
  content: "\e871";
}

.icon-fenghuangweishifeng1193386easyiconnet:before {
  content: "\e630";
}

.icon-shandian:before {
  content: "\e617";
}

.icon-1:before {
  content: "\e618";
}

.icon-3:before {
  content: "\e61f";
}

.icon-tuijianyinqing:before {
  content: "\e61a";
}

.icon-fenxiyinqingshouye:before {
  content: "\e6ef";
}

.icon-huijiyinqing:before {
  content: "\e6f0";
}

.icon-zhiwu:before {
  content: "\e616";
}

.icon-S:before {
  content: "\e67f";
}

.icon-fuzax:before {
  content: "\e615";
}

.icon-zhiwenfuza_24:before {
  content: "\e6f4";
}

.icon-fuzaguize:before {
  content: "\e7a4";
}

.icon-yinle:before {
  content: "\e611";
}

.icon-shipin:before {
  content: "\e612";
}

.icon-lianjie:before {
  content: "\e613";
}

.icon-lianjie1:before {
  content: "\e646";
}

.icon-lianjie2:before {
  content: "\e6c8";
}

.icon-gongsiwangzhi:before {
  content: "\e614";
}

.icon-shipin1:before {
  content: "\e656";
}

.icon-shipin2:before {
  content: "\eafb";
}

.icon-yinle1:before {
  content: "\e62d";
}

.icon-guanfangwangzhan:before {
  content: "\e67b";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-yinle2:before {
  content: "\e63b";
}

.icon-wangzhi:before {
  content: "\e621";
}

.icon-wangzhi_huaban:before {
  content: "\e629";
}

.icon-baoxue:before {
  content: "\e6f1";
}

.icon-xiaoxue:before {
  content: "\e6f6";
}

.icon-zhongxue1:before {
  content: "\e6fc";
}

.icon-shuidi:before {
  content: "\e634";
}

.icon-shuidi1:before {
  content: "\e7bb";
}

.icon-duoyun:before {
  content: "\e605";
}

.icon-yun:before {
  content: "\e607";
}

.icon-wuqi:before {
  content: "\e608";
}

.icon-xiaoyu:before {
  content: "\e609";
}

.icon-leidian:before {
  content: "\e60a";
}

.icon-lieri:before {
  content: "\e60b";
}

.icon-yujiaxue:before {
  content: "\e60c";
}

.icon-daxue:before {
  content: "\e60d";
}

.icon-zhongxue:before {
  content: "\e60f";
}

.icon-dayu:before {
  content: "\e610";
}

.icon-tuya_huabanfuben:before {
  content: "\e75c";
}

.icon-shanchubiaoqian-03:before {
  content: "\e6b4";
}

.icon-biaoqian:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e603";
}

.icon-xiugai:before {
  content: "\e632";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-ai248:before {
  content: "\e6ec";
}

.icon-fanhui1:before {
  content: "\e8a4";
}

.icon-xiugai1:before {
  content: "\e69d";
}

.icon-zuanshi:before {
  content: "\e600";
}

.icon-tianjia:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-tianjia1:before {
  content: "\e657";
}

.icon-tianjiatianchong:before {
  content: "\e696";
}

.icon-shezhi1:before {
  content: "\e68f";
}

.icon-tianjia2:before {
  content: "\e622";
}

.icon-edit:before {
  content: "\e606";
}

.icon-shezhi2:before {
  content: "\e70f";
}

.icon-xiezi:before {
  content: "\e60e";
}

.icon--dengru:before {
  content: "\e619";
}

.icon-tianjia3:before {
  content: "\e620";
}

.icon-skunk:before {
  content: "\e69c";
}

.icon-shanchu1:before {
  content: "\e8b6";
}

