.daka_max {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    border: var(--bei_jing_kuan_true) solid var(--bei_jing_kuan_color);
    background-color: var(--bei_jing_color);
    backdrop-filter: var(--mao_bo_li);
    overflow: hidden;
    animation: nrmaxs_dh 0.4s;
}

.daka_max2 {
    position: fixed;
    top: 55px;
    left: 0px;
    width: 100%;
    height: calc(100% - 55px);
    border-radius: 0;
    border: 0;
}

.daka_l {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.daka_l_top {
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--bei_jing_kuan_color);
}

.daka_l_bot {
    float: left;
    width: calc(200px + var(--shimi_tuozhuai_bianlian));
    height: calc(100% - 30px);
    overflow-x: hidden;
    border-right: 1px solid var(--zi_ti_color_50);
}

.daka_l_bot_max {
    float: left;
    width: calc(100% + 70px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 54px;
}

.shimi_tuozhuai {
    position: absolute;
    width: 2px;
    height: calc(100% - 30px);
    left: calc(200px + var(--shimi_tuozhuai_bianlian));
    bottom: 0;
    background-color: var(--zi_ti_color_50);
    opacity: 0;
}

.shimi_tuozhuai:hover {
    opacity: 1;
}

.daka_quanpin_anniu {
    position: absolute;
    right: 1px;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    opacity: 0.5;
}

.daka_quanpin_anniu:hover {
    opacity: 1;
}

.daka_qp_tp {
    font-size: 20px;
}

.daka_l_top_wz {
    position: absolute;
    width: auto;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: 10px;
}

.daka_gundontiao_max {
    position: absolute;
    left: 0;
    top: 30px;
    width: 5px;
    height: calc(100% - 30px);
    border-radius: 5px;
    background-color: var(--zi_ti_color_20);
    overflow: hidden;
    opacity: 0;
}

.daka_gundontiao_min {
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 5px;
    background-color: var(--zi_ti_color);
    opacity: 0.6;
}

.shimi_gundontiao_max {
    position: absolute;
    right: 0;
    top: 80px;
    width: 5px;
    height: calc(100% - 80px);
    border-radius: 5px;
    background-color: var(--zi_ti_color_20);
    overflow: hidden;
    opacity: 0;
}

.shimi_gundontiao_min {
    position: absolute;
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: var(--zi_ti_color);
    opacity: 0.6;
}

.daka_r_bot {
    float: right;
    width: calc(100% - 200px - var(--shimi_tuozhuai_bianlian));
    height: calc(100% - 30px);
    overflow-x: hidden;
}

.daka_r_bot_max {
    float: left;
    width: calc(100% + 70px);
    height: 100%;
    overflow: hidden;
    padding-right: 53px;
}

.daka_r_bot_top {
    width: calc(100% + 200px);
    padding-right: calc(200px + 25px);
    height: 50px;
    border: none;
    color: var(--zi_ti_color);
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0);
    outline: none;
    overflow-y: scroll;
    cursor: none;
    border-bottom: 1px solid var(--zi_ti_color_20);
    padding-left: 10px;
}

.daka_r_bot_bottom {
    width: calc(100% + 200px);
    padding-right: calc(200px + 10px);
    height: calc(100% - 50px);
    border: none;
    color: var(--zi_ti_color);
    font-size: 16px;
    background-color: rgb(0, 0, 0, 0);
    outline: none;
    resize: none;
    overflow-y: scroll;
    cursor: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shimi_wenben_s_max {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--zi_ti_color_20);
    transition: 0.2s;
}

.shimi_wenben_s_max:hover {
    background-color: var(--zi_ti_color_20);
}

.shimi_wenben_s_top {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 10px);
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    pointer-events: none;
    transition: 0.2s;
}

.shimi_wenben_s_bottom {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 10px);
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 12px;
    opacity: 0.5;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shimi_wenben_s_fuxuankuan {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 10px;
    text-align: center;
    background-color: var(--zi_ti_color_20);
    border-radius: 5px;
    opacity: 0;
    left: 4px;
    top: 4px;
}

.shimi_wenben_s_fuxuankuan:hover {
    background-color: var(--zi_ti_color_50);
}

.shimi_wenben_s_max:hover .shimi_wenben_s_fuxuankuan {
    opacity: 1;
}

.shimi_wenben_s_max:hover .shimi_wenben_s_top {
    text-indent: 5px;
}

.shimi_shousuo {
    display: none;
    position: absolute;
    left: 155px;
    top: 5px;
    width: 60px;
    height: 20px;
    border: 0;
    text-align: center;
    border-bottom: 1px solid var(--zi_ti_color);
    color: var(--zi_ti_color);
    background-color: rgb(0, 0, 0, 0);
    outline: none;
    font-size: 14px;
    opacity: 0.3;
}

.shimi_shousuo:hover {
    opacity: 1;
}

.shimi_shousuo:focus {
    opacity: 1;
}

.shimi_tianjia_tp {
    position: absolute;
    display: none;
    right: 40px;
    top: 5px;
    font-size: 20px;
    opacity: 0.5;
}

.shimi_shanchu_tp {
    position: absolute;
    display: none;
    right: 75px;
    top: 5px;
    font-size: 20px;
    opacity: 0.5;
}

.shimi_quanxuan_tp {
    position: absolute;
    display: none;
    right: 110px;
    top: 7px;
    font-size: 16px;
    opacity: 0.5;
}

.shimi_quxiao_tp {
    position: absolute;
    display: none;
    right: 145px;
    top: 5px;
    font-size: 18px;
    opacity: 0.5;
}

.shimi_tianjia_tp:hover,
.shimi_shanchu_tp:hover,
.shimi_quanxuan_tp:hover,
.shimi_quxiao_tp:hover {
    opacity: 1;
}

.shimi_mima_max {
    position: absolute;
    right: calc((100% - 300px) / 2);
    top: calc((100% / 2));
}

.shimi_mima_input {
    float: left;
    width: 300px;
    height: 30px;
    line-height: 29px;
    border: 0;
    border-bottom: 1px solid var(--zi_ti_color);
    color: var(--zi_ti_color);
    text-indent: 1em;
    outline: none;
    background-color: rgb(0, 0, 0, 0);
}

.shimi_mima_qr {
    position: absolute;
    right: 0;
    width: 50px;
    height: 30px;
    line-height: 29px;
    text-align: center;
}

.shimi_xiugai_mima {
    position: absolute;
    right: 0;
    top: 50px;
    opacity: 0.5;
}

.shimi_xiugai_mima:hover {
    opacity: 1;
}

.shimi_mima_wxts {
    position: fixed;
    width: 100%;
    color: var(--zi_ti_color);
    text-align: center;
    left: 0;
    bottom: 10%;
    opacity: 0.5;
}

.shimi_mima_wxts:hover {
    opacity: 1;
}